@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap%27');

html {
font-size: 62.5%;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
background: rgba(34, 34, 34, 0.85);
color: white;
font-family: 'Noto Sans JP', sans-serif;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#containerMap {
    margin-inline: 1rem;
    width: 55%;
    height: auto;
    border-radius: 12px;
    margin-top: 5%;
    background: #222222;
}

#map {
    height: 60vh;
}

@media screen and (max-width: 780px ) {
    #containerMap {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    #containerMap {
        width: 95%;
    }
}

@media screen and (max-width: 450px){
    #containerMap {
        width: 100%;
    }

    #map {
        height: 40vh;
    }
}